<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616871501842-chl1ndi73npoa8536hkvdbttfk1oda89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616871501842-chl1ndi73npoa8536hkvdbttfk1oda89</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJoMfd9DPlPR_QW056NTEVUsQBQ1tVBY</string>
	<key>GCM_SENDER_ID</key>
	<string>616871501842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.eduardosilva.EduardoHiggorMarcusSergioSergio</string>
	<key>PROJECT_ID</key>
	<string>toys-e4e44</string>
	<key>STORAGE_BUCKET</key>
	<string>toys-e4e44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616871501842:ios:9f3ca25116846f480278cb</string>
</dict>
</plist>